mas/core/component/oldfiles/config/operateandmaintainmanager.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="operateandmaintainmanager"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="omm">
		<xs:complexType>
			<xs:attribute name="hostname" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="port" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:short"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rpcmaxnoofretries" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rpcretrydelaysec" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="countersavetimeout" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="countersavefilenamesufix" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="countersavefilenamepath" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="masnoresponsetimeoutlimituntildown" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="logicalzone" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="serviceinitthreshold" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="serviceenablerlowwatermark" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="serviceenablerhighwatermark" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="operateandmaintainmanager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="omm"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
