mas/core/component/migration/test/cfg/migration.xsd

<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="configuration" nillable="false">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mailbox"/>
				<xs:element ref="messagesender"/>
				<xs:element ref="profilemanager"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="trafficeventsender">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="emailconfig"/>
				<xs:element ref="radiusconfig"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="emailconfig">
		<xs:complexType>
			<xs:attribute name="templatespath"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="radiusconfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="servicename"/>
			<xs:attribute name="queuesize" type="xs:positiveInteger"/>
			<xs:attribute name="delay" type="xs:nonNegativeInteger"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute">
		<xs:complexType>
			<xs:attribute name="name"/>
			<xs:attribute name="number" type="xs:nonNegativeInteger"/>
			<xs:attribute name="type" type="xs:boolean"/>
			<xs:attribute name="datatype">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="I|E|S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mediatype">
		<xs:complexType>
			<xs:attribute name="encoding" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="externalcomponentregister">
		<xs:complexType>
			<xs:all>
				<xs:element ref="mcr"/>
				<xs:element ref="propertymap"/>
				<xs:element ref="services"/>
				<xs:element ref="algorithms"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="mcr">
		<xs:complexType>
			<xs:attribute name="hostname" type="xs:string"/>
			<xs:attribute name="port" type="xs:integer"/>
			<xs:attribute name="timeout" type="xs:integer"/>
			<xs:attribute name="userid" type="xs:string"/>
			<xs:attribute name="password" type="xs:string"/>
			<xs:attribute name="suffix" type="xs:string"/>
			<xs:attribute name="periodicity" type="xs:integer"/>
			<xs:attribute name="lookupdelay" type="xs:integer"/>
			<xs:attribute name="trylimit" type="xs:integer" use="required"/>
			<xs:attribute name="trytimelimit" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="value">
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:element name="propertymap">
		<xs:complexType>
			<xs:all>
				<xs:element name="port" type="mcrproperty"/>
				<xs:element name="protocol" type="mcrproperty"/>
				<xs:element name="version" type="mcrproperty"/>
				<xs:element name="hostname" type="mcrproperty"/>
				<xs:element name="logicalzone" type="mcrproperty"/>
				<xs:element name="component" type="mcrproperty"/>
				<xs:element name="type" type="mcrproperty"/>
				<xs:element name="rootoid" type="mcrproperty"/>
				<xs:element name="language" type="mcrproperty"/>
				<xs:element name="replicationid" type="mcrproperty"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="mcrproperty">
		<xs:attribute name="mcrname" type="xs:string"/>
	</xs:complexType>
	<xs:element name="services">
		<xs:complexType>
			<xs:all>
				<xs:element name="storage" type="service"/>
				<xs:element name="smtpstorage" type="service"/>
				<xs:element name="userregister" type="service"/>
				<xs:element name="userregisterwrite" type="service" minOccurs="0"/>
				<xs:element name="eventreporting" type="service"/>
				<xs:element name="texttospeech" type="service"/>
				<xs:element name="speechrecognition" type="service"/>
				<xs:element name="provisioning" type="service"/>
				<xs:element name="Accounting" type="service"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="service">
		<xs:sequence>
			<xs:element name="default" type="instanceproperties" minOccurs="0"/>
			<xs:element name="instance" type="instanceproperties" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="overridemcr" type="xs:boolean" use="required"/>
		<xs:attribute name="servicename" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="instanceproperties">
		<xs:attribute name="port" type="xs:string"/>
		<xs:attribute name="hostname" type="xs:string"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="protocol" type="xs:string"/>
		<xs:attribute name="component" type="xs:string"/>
	</xs:complexType>
	<xs:element name="algorithms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="localrandomchooser"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="localrandomchooser">
		<xs:complexType>
			<xs:attribute name="logicalzone" type="xs:string"/>
			<xs:attribute name="netmask" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mailbox">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="additionalproperty" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="field" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="imap"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="imap">
		<xs:complexType>
			<xs:attribute name="connectiontimeout" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="commandtimeout" type="xs:positiveInteger" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="messagesender">
		<xs:complexType>
			<xs:attribute name="smtpservicename" type="xs:string" use="required"/>
			<xs:attribute name="smtpretries" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="smtpconnectiontimeout" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="smtpcommandtimeout" type="xs:positiveInteger" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="profilemanager">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="userregister"/>
				<xs:element ref="connectionpool"/>
				<xs:element ref="provisioning"/>
				<xs:element ref="attributemap"/>
			</xs:sequence>
			<xs:attribute name="limitscope" type="xs:boolean" use="required"/>
			<xs:attribute name="coscachetimeout" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="userregister">
		<xs:complexType>
			<xs:attribute name="readtimeout" type="xs:integer" use="required"/>
			<xs:attribute name="writetimeout" type="xs:integer" use="required"/>
			<xs:attribute name="admin" type="xs:string" use="required"/>
			<xs:attribute name="password" type="xs:string" use="required"/>
			<xs:attribute name="defaultsearchbase" type="xs:string" use="required"/>
			<xs:attribute name="trylimit" type="xs:integer" use="required"/>
			<xs:attribute name="trytimelimit" type="xs:integer" use="required"/>
			<xs:attribute name="userprefix" type="xs:string" use="required"/>
			<xs:attribute name="billingprefix" type="xs:string" use="required"/>
			
		</xs:complexType>
	</xs:element>
	<xs:element name="connectionpool">
		<xs:complexType>
			<xs:attribute name="maxsize" type="xs:integer" use="required"/>
			<xs:attribute name="connectionlifetime" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="provisioning">
		<xs:complexType>
			<xs:attribute name="password" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="attributemap">
		<xs:complexType>
			<xs:all>
				<xs:element name="activegreetingid" type="stringmetadata"/>
				<xs:element name="admininfo" type="stringmetadatareadonly"/>				
				<xs:element name="addressbookserver" type="provisioning"/>
				<xs:element name="answeringservice" type="stringmetadata"/>
				<xs:element name="autoplay" type="booleanmetadata"/>
				<xs:element name="badlogincount" type="integermetadata"/>
				<xs:element name="billingnumber" type="stringmetadatareadonly"/>
				<xs:element name="caattr" type="stringmetadatareadonly"/>
				<xs:element name="callerxfer" type="booleanmetadatareadonly"/>
				<xs:element name="callerxfertocoverage" type="booleanmetadatareadonly"/>
				<xs:element name="cdgmax" type="integermetadatareadonly"/>
				<xs:element name="cn" type="stringmetadatareadonly"/>
				<xs:element name="cosdn" type="stringmetadatareadonly"/>
				<xs:element name="cosname" type="stringmetadatareadonly"/>
				<xs:element name="coverphonenumber" type="stringmetadata"/>
				<xs:element name="diskspaceremainingwarninglevel" type="stringmetadatareadonly"/>
				<xs:element name="dlentriesmax" type="integermetadatareadonly"/>
				<xs:element name="dlmax" type="integermetadatareadonly"/>
				<xs:element name="emabds" type="stringmetadata"/>
				<xs:element name="emactivecdg" type="stringmetadata"/>
				<xs:element name="emallowedmaildomains" type="stringmetadatareadonly"/>
				<xs:element name="emattachsignature" type="stringmetadata"/>
				<xs:element name="emautologin" type="stringmetadata"/>				
				<xs:element name="emautoprintfax" type="booleanmetadata"/>
				<xs:element name="emca" type="stringmetadata"/>
				<xs:element name="emcab" type="stringmetadata"/>
				<xs:element name="emcnl" type="booleanmetadatareadonly"/>
				<xs:element name="emcompoundservicedn" type="stringmetadatareadonly"/>
				<xs:element name="emcompoundserviceid" type="integermetadatareadonly"/>
				<xs:element name="emcompoundservicename" type="stringmetadatareadonly"/>
				<xs:element name="emcompoundservicetype" type="stringmetadatareadonly"/>
				<xs:element name="emcustomerid" type="stringmetadatareadonly"/>
				<xs:element name="emdeliveryprofile" type="stringmetadata"/>
				<xs:element name="emenduserservicedn" type="stringmetadatareadonly"/>
				<xs:element name="emenduserserviceid" type="stringmetadatareadonly"/>
				<xs:element name="emenduserservicename" type="stringmetadatareadonly"/>
				<xs:element name="emenduserservicepriority" type="integermetadatareadonly"/>
				<xs:element name="emexpirationrule" type="stringmetadatareadonly"/>
				<xs:element name="ememptytrash" type="stringmetadata"/>
				<xs:element name="emextaccount" type="stringmetadata"/>
				<xs:element name="emfilter" type="stringmetadata"/>
				<xs:element name="emftl" type="stringmetadata"/>
				<xs:element name="emftlfunctions" type="stringmetadatareadonly"/>
				<xs:element name="emgroupmember" type="stringmetadatareadonly"/>
                                <xs:element name="eminterfacename" type="stringmetadatareadonly"/>
                                <xs:element name="eminterfacetype" type="stringmetadatareadonly"/>
                                <xs:element name="emipservicezone" type="stringmetadata"/>
				<xs:element name="emlogindate" type="stringmetadata"/>
				<xs:element name="emmaxextaccount" type="integermetadatareadonly"/>
				<xs:element name="emmaxgroupmember" type="integermetadatareadonly"/>
				<xs:element name="emmaxsecnb" type="integermetadatareadonly"/>
				<xs:element name="emmboxdisp" type="stringmetadata"/>
				<xs:element name="emmboxsend" type="stringmetadata"/>								
				<xs:element name="emmessagecharencoding" type="stringmetadata"/>
				<xs:element name="emmessagedeletedrecovery" type="booleanmetadatareadonly"/>
				<xs:element name="emmessageforward" type="booleanmetadatareadonly"/>
				<xs:element name="emmessageforwardcomment" type="booleanmetadatareadonly"/>
				<xs:element name="emmessagesend" type="booleanmetadatareadonly"/>
				<xs:element name="emmin" type="stringmetadatareadonly"/>
				<xs:element name="emmmscenterid" type="stringmetadatareadonly"/>
				<xs:element name="emmsglenmaxvideo" type="integermetadatareadonly"/>
				<xs:element name="emmsgplayorder" type="stringmetadata"/>
				<xs:element name="emnoofmailquota" type="integermetadatareadonly"/>
				<xs:element name="emnotifdisabled" type="booleanmetadata"/>
				<xs:element name="emnotifexptime" type="integermetadatareadonly"/>
				<xs:element name="emnotifnumber" type="stringmetadata"/>
				<xs:element name="emnotretrievedvoicemsg" type="stringmetadatareadonly"/>
				<xs:element name="emntd" type="stringmetadata"/>
				<xs:element name="emnumberingplan" type="integermetadatareadonly"/>
				<xs:element name="emodlpinskip" type="booleanmetadata"/>
				<xs:element name="emoutboundcalltl" type="integermetadatareadonly"/>
				<xs:element name="emoutdialonlytosender" type="stringmetadatareadonly"/>
				<xs:element name="emoutdialsequence" type="stringmetadatareadonly"/>
				<xs:element name="empnc" type="stringmetadatareadonly"/>
				<xs:element name="empreferreddateformat" type="stringmetadata"/>
				<xs:element name="empreferredtimeformat" type="stringmetadata"/>
				<xs:element name="emreadlevel" type="integermetadatareadonly"/>
				<xs:element name="emremovemailboxtime" type="integermetadatareadonly"/>
				<xs:element name="emretentiontime" type="stringmetadatareadonly"/>
				<xs:element name="emsavesentitems" type="stringmetadata"/>
				<xs:element name="emsecnb" type="stringmetadatareadonly"/>
				<xs:element name="emservicedn" type="stringmetadatareadonly"/>
				<xs:element name="emsignaturetext" type="stringmetadata"/>
				<xs:element name="emsmppcenterid" type="stringmetadatareadonly"/>
				<xs:element name="emtmpgrt" type="stringmetadata"/>
				<xs:element name="emtmpgrtavailable" type="booleanmetadatareadonly"/>
				<xs:element name="emtuiaccess" type="stringmetadatareadonly"/>
				<xs:element name="emtuiblockedmenu" type="stringmetadatareadonly"/>
				<xs:element name="emtypeofnumber" type="integermetadatareadonly"/>
				<xs:element name="emuserntd" type="stringmetadata"/>
				<xs:element name="emusersd" type="stringmetadatareadonly"/>
				<xs:element name="emviaextprovider" type="booleanmetadatareadonly"/>
				<xs:element name="emviatelephony" type="booleanmetadatareadonly"/>
				<xs:element name="emvuiaccess" type="stringmetadatareadonly"/>
				<xs:element name="emwapstart" type="stringmetadata"/>				
				<xs:element name="emwgpid" type="stringmetadatareadonly"/>
				<xs:element name="eomsgwarning" type="integermetadatareadonly"/>
				<xs:element name="facsimiletelephonenumber" type="stringmetadata"/>
				<xs:element name="familymembers" type="provisioning"/>
				<xs:element name="fastloginavailable" type="booleanmetadatareadonly"/>
				<xs:element name="fastloginenabled" type="booleanmetadata"/>
				<xs:element name="faxenabled" type="booleanmetadatareadonly"/>
				<xs:element name="gender" type="stringmetadatareadonly"/>
				<xs:element name="givenname" type="stringmetadata"/>
				<xs:element name="greetingsecmax" type="integermetadatareadonly"/>
				<xs:element name="inboundfaxno" type="stringmetadatareadonly"/>
				<xs:element name="includespokenname" type="booleanmetadatareadonly"/>
				<xs:element name="inhoursdow" type="stringmetadata"/>
				<xs:element name="inhoursend" type="integermetadatareadonly"/>
				<xs:element name="inhoursstart" type="integermetadatareadonly"/>
				<xs:element name="mail" type="stringmetadatareadonly"/>
				<xs:element name="mailalternateaddress" type="stringmetadata"/>
				<xs:element name="mailautoreplymode" type="stringmetadata"/>
				<xs:element name="mailautoreplytext" type="stringmetadata"/>
				<xs:element name="mailautoreplytimeout" type="integermetadata"/>				
				<xs:element name="maildeliveryoption" type="stringmetadata"/>
				<xs:element name="mailforwardingaddress" type="stringmetadata"/>
				<xs:element name="mailhost" type="stringmetadatareadonly"/>
				<xs:element name="mailquota" type="integermetadatareadonly"/>
				<xs:element name="mailuserstatus" type="stringmetadatareadonly"/>
				<xs:element name="maxloginlockout" type="integermetadatareadonly"/>
				<xs:element name="messageinventory" type="booleanmetadatareadonly"/>
				<xs:element name="messageplayemail" type="stringmetadata"/>
				<xs:element name="messageplayvideo" type="stringmetadata"/>
				<xs:element name="messageplayvoice" type="stringmetadata"/>
				<xs:element name="msglenmaxvoice" type="integermetadatareadonly"/>
				<xs:element name="mslocation" type="provisioning"/>
				<xs:element name="noforfirstname" type="stringmetadatareadonly"/>
				<xs:element name="noforlastname" type="stringmetadatareadonly"/>
				<xs:element name="objectclass" type="stringmetadatareadonly"/>
				<xs:element name="ou" type="stringmetadatareadonly"/>
				<xs:element name="passwdlenmax" type="integermetadatareadonly"/>
				<xs:element name="passwdlenmin" type="integermetadatareadonly"/>
				<xs:element name="password" type="stringmetadata"/>
				<xs:element name="passwordmaxlength" type="integermetadatareadonly"/>
				<xs:element name="passwordminlength" type="integermetadatareadonly"/>
				<xs:element name="passwordskipavailable" type="booleanmetadatareadonly"/>
				<xs:element name="passwordskipenabled" type="booleanmetadata"/>
				<xs:element name="phonenumbercalleraccesssection" type="stringmetadatareadonly"/>
				<xs:element name="phonenumberdialingsection" type="stringmetadatareadonly"/>
				<xs:element name="phonenumberexpansionsection" type="stringmetadatareadonly"/>
				<xs:element name="preferredlanguage" type="stringmetadata"/>
				<xs:element name="reinventory" type="booleanmetadatareadonly"/>
				<xs:element name="sn" type="stringmetadatareadonly"/>
				<xs:element name="snr" type="stringmetadata"/>
				<xs:element name="snrenabled" type="stringmetadata"/>
				<xs:element name="snrnonbusdays" type="stringmetadata"/>
				<xs:element name="snrnonbushrbusdays" type="stringmetadata"/>
				<xs:element name="snrringnumber" type="stringmetadata"/>
				<xs:element name="subscribertimezone" type="stringmetadatareadonly"/>
				<xs:element name="subscriberxfer" type="booleanmetadatareadonly"/>
				<xs:element name="subsearchbase" type="stringmetadatareadonly"/>
				<xs:element name="telephonenumber" type="stringmetadatareadonly"/>
				<xs:element name="ttsemailenabled" type="booleanmetadatareadonly"/>
				<xs:element name="uid" type="stringmetadatareadonly"/>
				<xs:element name="umpassword" type="stringmetadata"/>
				<xs:element name="uniqueidentifier" type="stringmetadatareadonly"/>
				<xs:element name="urgentmsgplay" type="booleanmetadata"/>
				<xs:element name="userlevel" type="integermetadata"/>
				<xs:element name="userpassword" type="stringmetadata"/>
				<xs:element name="vacationenddate" type="stringmetadata"/>
				<xs:element name="vacationstartdate" type="stringmetadata"/>
				<xs:element name="welcomegrt" type="stringmetadatareadonly"/>
				<xs:element name="xamtevatitle" type="stringmetadatareadonly"/>
			</xs:all>
			<xs:attribute name="searchorder" type="searchorder" use="required"/>
			<xs:attribute name="basicattributes" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="datatype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="string"/>
			<xs:enumeration value="xstring"/>
			<xs:enumeration value="integer"/>
			<xs:enumeration value="boolean"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="writelevel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="billing"/>
			<xs:enumeration value="user"/>
			<xs:enumeration value="cos"/>
			<xs:enumeration value="community"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Type used for pure provisioning attributes -->
	<xs:complexType name="provisioning">
		<xs:attribute name="provisioningname" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- Base type for all user register attributes -->
	<xs:complexType name="metadatareadonly">
		<xs:sequence>
			<xs:element ref="syntax" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="userregistername" type="xs:string" use="required"/>
		<xs:attribute name="provisioningname" type="xs:string"/>
		<xs:attribute name="searchorder" type="searchorder"/>
	</xs:complexType>
	<!-- Todo: Add more complicated searchorders -->
	<xs:simpleType name="searchorder">
		<xs:restriction base="xs:string">
			<xs:enumeration value="community"/>
			<xs:enumeration value="community,cos"/>
			<xs:enumeration value="community,cos,user"/>
			<xs:enumeration value="community,cos,user,billing"/>
			<xs:enumeration value="community,cos,billing,user"/>
			<xs:enumeration value="cos"/>
			<xs:enumeration value="cos,user"/>
			<xs:enumeration value="cos,user,billing"/>
			<xs:enumeration value="cos,billing,user"/>
			<xs:enumeration value="user"/>
			<xs:enumeration value="user,billing"/>
			<xs:enumeration value="billing"/>
			<xs:enumeration value="billing,user"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="stringmetadatareadonly">
		<xs:complexContent>
			<xs:extension base="metadatareadonly">
				<xs:attribute name="default" type="xs:string"/>
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="string"/>
							<xs:enumeration value="xstring"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="stringmetadata">
		<xs:complexContent>
			<xs:extension base="stringmetadatareadonly">
				<xs:attribute name="writelevel" type="writelevel" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="integermetadatareadonly">
		<xs:complexContent>
			<xs:extension base="metadatareadonly">
				<xs:attribute name="default" type="xs:integer"/>
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="integer"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="integermetadata">
		<xs:complexContent>
			<xs:extension base="integermetadatareadonly">
				<xs:attribute name="writelevel" type="writelevel" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="booleanmetadatareadonly">
		<xs:complexContent>
			<xs:extension base="metadatareadonly">
				<xs:attribute name="default" type="xs:string"/>
				<xs:attribute name="true" type="xs:string" use="required"/>
				<xs:attribute name="false" type="xs:string" use="required"/>
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="boolean"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="booleanmetadata">
		<xs:complexContent>
			<xs:extension base="booleanmetadatareadonly">
				<xs:attribute name="writelevel" type="writelevel" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="syntax">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="re" minOccurs="0"/>
				<xs:element ref="range" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="attribute" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="re">
		<xs:complexType>
			<xs:attribute name="expr" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="range">
		<xs:complexType>
			<xs:attribute name="min" type="xs:integer" use="required"/>
			<xs:attribute name="max" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="provisionmanager">
		<xs:complexType>
			<xs:attribute name="connectionpoolsize" type="xs:positiveInteger"/>
			<xs:attribute name="connectiontimeout" type="xs:positiveInteger"/>
			<xs:attribute name="connectionidletimeout" type="xs:positiveInteger"/>
			<xs:attribute name="commandsendretries" type="xs:positiveInteger"/>
			<xs:attribute name="defaultmailhost"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
