backend/core/component/src/test/java/com/mobeon/common/configuration/cfg/failedWithBackup.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   elementFormDefault="qualified">
    <xs:element name="KnownGroup">
	<xs:complexType mixed="true">
	    <xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:element ref="MultiGroup"/>
		<xs:element ref="SubGroup"/>
	    </xs:choice>
	    <xs:attribute name="KnownInteger" use="required" type="xs:integer">
	    </xs:attribute>
	    <xs:attribute name="KnownString" use="required" type="xs:string">
	    </xs:attribute>
	    <xs:attribute name="KnownFloat" use="required" type="xs:double">
	    </xs:attribute>
	    <xs:attribute name="KnownEmptyInteger" use="required"
			  type="xs:integer">
	    </xs:attribute>
	    <xs:attribute name="KnownEmptyString" use="required"
			  type="xs:string">
	    </xs:attribute>
	    <xs:attribute name="KnownEmptyFloat" use="required"
			  type="xs:double">
	    </xs:attribute>
	</xs:complexType>
    </xs:element>
    <xs:element name="MultiGroup">
	<xs:complexType>
	    <xs:sequence>
		<xs:element ref="MultiSubGroup" maxOccurs="unbounded"/>
	    </xs:sequence>
	    <xs:attribute name="Group" use="required" type="xs:string">
	    </xs:attribute>
	</xs:complexType>
    </xs:element>
    <xs:element name="MultiSubGroup">
	<xs:complexType>
	    <xs:attribute name="Group" use="required" type="xs:string">
	    </xs:attribute>
	</xs:complexType>
    </xs:element>
    <xs:element name="SubGroup">
	<xs:complexType>
	    <xs:sequence>
		<xs:element ref="SubSubGroup"/>
	    </xs:sequence>
	    <xs:attribute name="SubGroupValue" use="required" type="xs:integer">
	    </xs:attribute>
	</xs:complexType>
    </xs:element>
    <xs:element name="SubSubGroup">
	<xs:complexType>
	    <xs:attribute name="SubSubGroupValue" use="required"
			  type="xs:integer">
	    </xs:attribute>
	</xs:complexType>
    </xs:element>
    <xs:element name="configuration">
	<xs:complexType>
	    <xs:sequence>
		<xs:element ref="KnownGroup"/>
	    </xs:sequence>
	</xs:complexType>
    </xs:element>
</xs:schema>
